body {
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('city.jpg'); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: top;
    color: #ff9b06e7;
    margin-bottom: 20px;
    font-family: serif,'Times New Roman', Times, serif,Georgia, 'Times New Roman', Times, serif;
}

.city-form {
    background-color: rgba(243, 240, 243, 0.971);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
}

